PORT=3000
VITE_SUPABASE_URL=https://npkmqlupkvijhumkldpm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wa21xbHVwa3Zpamh1bWtsZHBtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2NjU0MDAsImV4cCI6MjA5OTI0MTQwMH0.8TcARSew4d_UQwKOany8OJIcs69Gqpy2ka7QEPXTK1Q
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
